body {
    background-color: #E3E6E3;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.w-100 {
    width: 100%;
}

header {
    padding: 20px;
    text-align: center;
    background-color: lightcoral;
    position: fixed;
    width: 100%;
    /* bottom: 0px; */
    top: 0px;
    background-color: #fff;
    z-index: 1;
}

@media (max-width: 1200px) {
    header {
        padding: 10px;
    }
}

#content {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: 80%;
    margin: 120px auto 0px; */
}

#sidebar_1 {
    width: 15%;
    background-color: #fff;
    padding: 10px;
}
#sidebar_1 h4 {
    color: #009270;
    text-transform: uppercase;
    margin-bottom: 12px;
}
#sidebar_1 ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    font-size: 14px;
    line-height: 20px;
}
#sidebar_1 ul li a {
    color: #222;
}
#sidebar_1 ul li span {
    color: #666;
    display: block;
    font-size: 12px;
}

#main {
    width: 45%;
    margin: 0px 10px;
}

#main .image {
    position: relative;
}
#main .icon {
    position: absolute;
    width: 10%;
    /* top: 0px;
    left: 0px; */
    left: 50%;
    top: 50%;
    margin-left: -5%;
    margin-top: -5%;
}

#section_1, #section_2 {
    background-color: #fff;
    padding: 10px;
}

#sidebar_2 {
    width: 22%;
    background-color: #fff;
}

@media (max-width:1200px) {
    #content {
        margin-top: 80px;
    }
    #sidebar_1 {
        width: 17%;
    }
    #main {
        width: 40%;
    }
    #sidebar_2 {
        width: 20%;
    }
}

@media(max-width: 992px) {
    #main h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media(max-width: 768px) {
    #content {
        display: block;
    }
    #sidebar_1, #main, #sidebar_2 {
        width: 90%;
        margin: 0 auto;
    }
}